.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr / 320px 1fr;
  align-items: center;
}

@media(max-width: 1020px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
